$si_blue: #407EB8; /*#3a7cbf*/
$si_black: #555;
$si_white: #fafefe;
$si_grey: #eee;
$si_dark_grey: #d4d4d4;
$si_orange: #F28F25; /*#f08426*/
$si_green: #5cb85c;

$si_background_grey: #F8F8F8;
$si_background_orange: #F5E2BE ;
$si_background_red: #F5B4B4;
$si_background_green: #C4F4C4;
$si_background_dark_grey:#EAE5E2;
$si_background_darker_grey:#C9BEB8;

$hsep_color: #00488f;
$si_error_color: #EA2C28;

$navbar-height: 100px;

$container-large-desktop: 1000px;

$footer-height: 230px;